<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.longluo.ebookreader"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.longluo.android.ebookreader.FBReaderApplication"
        android:icon="@drawable/fbreader"
        android:label="@string/app_name"
        android:logo="@drawable/fbreader_bw">

        <activity
            android:name="com.longluo.android.ebookreader.error.BookReadingErrorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":error"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.ERROR" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="BookReadingException"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.longluo.zlibrary.ui.android.error.BugReportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="FBReader crash"
            android:process=":crash"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="com.longluo.android.ebookreader.crash.FixBooksDirectoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:process=":crash"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.CRASH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="CachedCharStorageException"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.crash.MissingNativeLibraryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:process=":crash"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.CRASH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="ExceptionInInitializerError"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.CRASH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="UnsatisfiedLinkError"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>

        <service
            android:name="com.longluo.android.ebookreader.api.ApiService"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.fbreader.action.API" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.longluo.android.ebookreader.FBReader"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/fbreader"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/FBReader.Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="fbreader-action" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.PLUGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host=""
                    android:scheme="file"
                    tools:ignore="AppLinkUrlError" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.oeb" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.fb2\\.zip" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.prc" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.rtf" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.djvu" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.cbz" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host=""
                    android:mimeType="text/plain"
                    android:scheme="file"
                    tools:ignore="AppLinkUrlError" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.oeb" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.prc" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.rtf" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.djvu" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.cbz" />
            </intent-filter>
            <!--intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content" android:pathPattern=".*\\.fb2"/>
            </intent-filter-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host=""
                    android:scheme="file"
                    tools:ignore="AppLinkUrlError" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/x-pilot-prc" />
                <data android:mimeType="application/x-mobipocket-ebook" />
                <data android:mimeType="application/x-fictionbook+xml" />
                <data android:mimeType="application/x-fictionbook" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/x-pdf" />
                <data android:mimeType="application/djvu" />
                <data android:mimeType="application/x-djvu" />
                <data android:mimeType="application/x-cbr" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="image/vnd.djvu" />
                <data android:mimeType="image/x-djvu" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.fbreader.action.CLOSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.PLUGIN_CRASH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.dict.DictionaryNotInstalledActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.ebookreader.CancelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.CANCEL_MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.PluginListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog" />

        <activity
            android:name="com.longluo.android.ebookreader.bookmark.BookmarksActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:process=":bookmarks"
            android:theme="@style/FBReader.Activity.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.fbreader.action.BOOKMARKS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.bookmark.EditBookmarkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.EDIT_BOOKMARK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.bookmark.EditStyleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.fbreader.action.EDIT_STYLES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.longluo.android.ebookreader.image.ImageViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":imageView"
            android:theme="@style/FBReader.Activity" />

        <service
            android:name="com.longluo.android.ebookreader.libraryService.LibraryService"
            android:launchMode="singleTask"
            android:process=":libraryService">
            <intent-filter>
                <action android:name="android.fbreader.action.LIBRARY_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.longluo.android.ebookreader.config.ConfigService"
            android:launchMode="singleTask"
            android:process=":configService">
            <intent-filter>
                <action android:name="android.fbreader.action.CONFIG_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.longluo.android.ebookreader.sync.SyncService"
            android:launchMode="singleTask"
            android:process=":synchroniser">
            <intent-filter>
                <action android:name="android.fbreader.action.sync.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.fbreader.action.sync.QUICK_SYNC" />
            </intent-filter>
        </service>

        <activity
            android:name="com.longluo.android.ebookreader.library.BookInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":library"
            android:theme="@style/FBReader.Activity">
            <intent-filter>
                <action android:name="android.fbreader.action.BOOK_INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.library.LibrarySearchActivity"
            android:process=":library"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.library.LibraryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:process=":library"
            android:theme="@style/FBReader.Activity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.longluo.android.ebookreader.library.LibrarySearchActivity" />
            <intent-filter>
                <action android:name="android.ebookreader.action.LIBRARY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.TOCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="com.longluo.android.ebookreader.preferences.PreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":preferences"
            android:theme="@style/FBReader.Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="fbreader-preferences" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.ebookreader.action.PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.preferences.EditBookInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":library"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="com.longluo.android.ebookreader.sync.MissingBookActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.ebookreader.network.BookDownloader"
            android:process=":networkLibrary"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="http" />
                <data android:pathPattern=".*\\.epub" />
                <data android:pathPattern=".*\\.oeb" />
                <data android:pathPattern=".*\\.fb2" />
                <data android:pathPattern=".*\\.fb2\\.zip" />
                <data android:pathPattern=".*\\.mobi" />
                <data android:pathPattern=".*\\.prc" />
                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.rtf" />
                <data android:pathPattern=".*\\.djvu" />
                <data android:pathPattern=".*\\.cbr" />
                <data android:pathPattern=".*\\.cbz" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="http" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/x-pilot-prc" />
                <data android:mimeType="application/x-mobipocket-ebook" />
                <data android:mimeType="application/x-fictionbook+xml" />
                <data android:mimeType="application/x-fictionbook" />
                <data android:mimeType="application/djvu" />
                <data android:mimeType="application/x-djvu" />
                <data android:mimeType="application/x-cbr" />
                <data android:mimeType="application/x-cbz" />
                <data android:mimeType="image/vnd.djvu" />
                <data android:mimeType="image/x-djvu" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*rus.ec"
                    android:mimeType="application/zip"
                    android:scheme="http" />
                <data
                    android:host="lib.ololo.cc"
                    android:mimeType="application/zip"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="book" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="epub" />
            </intent-filter>
        </activity>

        <service
            android:name="com.longluo.android.ebookreader.network.BookDownloaderService"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":networkLibrary" />

        <activity
            android:name="com.longluo.android.ebookreader.network.NetworkSearchActivity"
            android:process=":networkLibrary"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.network.auth.WebAuthorisationScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="com.longluo.android.ebookreader.network.NetworkLibraryPrimaryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Activity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.longluo.android.ebookreader.network.NetworkSearchActivity" />

            <intent-filter>
                <action android:name="android.ebookreader.action.OPEN_NETWORK_CATALOG" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.ebookreader.action.NETWORK_LIBRARY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.network.NetworkLibrarySecondaryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Activity" />
        <activity
            android:name="com.longluo.android.ebookreader.network.AuthenticationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.ebookreader.network.BuyBooksActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.ebookreader.network.AddCatalogMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.ebookreader.network.AddCustomCatalogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Dialog">
            <intent-filter>
                <action android:name="android.ebookreader.action.ADD_OPDS_CATALOG" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="data.fbreader.org"
                    android:path="/add_catalog/editUrl"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="opds" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.ebookreader.action.ADD_OPDS_CATALOG_URL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.ebookreader.action.ADD_OPDS_CATALOG_URL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.network.AuthorisationMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.ebookreader.network.litres.UserRegistrationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.ebookreader.network.litres.AutoRegistrationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.ebookreader.network.TopupMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.ebookreader.network.NetworkBookInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:scheme="litres-book" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.longluo.android.ebookreader.network.CatalogManagerActivity"
            android:process=":networkLibrary"
            android:theme="@style/FBReader.Activity" />

        <receiver
            android:name="com.longluo.android.ebookreader.network.ListenerCallback"
            android:process=":networkLibrary">
            <intent-filter>
                <action android:name="android.ebookreader.action.network.SIGNIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.longluo.android.ebookreader.tips.TipsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.paragon.dictionary.fbreader.OpenDictionaryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FBReader.Transparent" />

        <service
            android:name="com.longluo.android.ebookreader.httpd.DataService"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":dataService" />
        <service
            android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider"
            android:exported="false" />

        <activity
            android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.ebookreader.preferences.background.Chooser"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.ebookreader.preferences.background.PredefinedImages"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.util.FolderListDialogActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.util.EditTagsDialogActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
        <activity
            android:name="com.longluo.android.util.EditAuthorsDialogActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false"
            android:theme="@style/FBReader.Dialog" />
    </application>
</manifest>